.button {
  background-color: $sample-primary-color;
  border: none;
  cursor: pointer;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $sample-darken-color;
  }
}