.catalog__aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: catalog-aside;
  background-color: #f4f0df;
  font-size: calc(1vw + 2px);
  padding: 1rem;
  grid-row: 2;
  border-top-right-radius: $border-radius3;
  border-bottom-right-radius: $border-radius3;

  & > * {
    padding-bottom: 1rem;
  }
  .product__categories {
    width: 100%;
    min-width: 23rem;
    & > li {
      display: block;
    }
  }
  .product__category_item {
    display: inline-block;
    width: 100%;
  }
  .filter-box {
    display: flex;
    flex-direction: column;
    & input[type='checkbox'] {
      margin: 0.1rem 1rem;
    }
    & .active {
      background-color: $color-login-background;
    }
  }
  & .filter-box__content_label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .filter-box__content__items {
    max-height: 20vh;
    overflow-y: scroll;
    background-color: #faf8f1;
    padding: 1rem;
  }
  .filter-box__content_item {
    display: flex;
    width: 100%;
    user-select: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  .filter-box__span {
    padding: 0.1rem 1rem;
  }
  .filter-box__buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .filter-box_heading {
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  h3,
  h4 {
    font-size: 1.6rem;
  }
  h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  a,
  li {
    font-size: 1.2rem;
  }

.filter-box input[type='checkbox'] {
    margin: 0.1rem 0.5rem;
    width: 1.8rem !important;
    height: 1.8rem !important;
  }
}
.noUi-tooltip {
  display: none !important;
  font-size: 1.5rem;
}

.noUi-pips.noUi-pips-horizontal {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block !important;
}

.noUi-value.noUi-value-horizontal.noUi-value-large {
  font-size: 2rem;
  left: 1vw !important;
}
.noUi-value.noUi-value-horizontal.noUi-value-large:last-child {
  left: 10vw !important;
}

.filter-box__buttons {
  width: fit-content;
  gap: 1rem;
  padding-top: 1rem;
}

.filter-box__button-submit,
.filter-box__buttons-reset {
  border-radius: 3px;
  width: 10rem;
  height: 4rem;
  padding: 0;
  background-color: #b49275;
}

.filter-box__button-submit:hover,
.filter-box__buttons-reset:hover {
  background-color: #a7866a;
}

.mobile-menu__btn {
  border-radius: 3px;
  width: 5rem;
  height: 5rem;
  background-color: rgb(209, 208, 208);
  position: fixed;
  top: 14rem;
  left: 0.1rem;
  z-index: 100;
  padding: 0;
  display: none;
}

.mobile-menu__btn__img {
  width: 4rem;
  height: 4rem;
}

@media screen and (max-width: $tablet) {
  .catalog__aside {
    display: none;
    margin-bottom: 0rem !important;
  }

  .catalog__aside a,
  .catalog__aside li {
    font-size: 1.4rem;
  }

  .catalog__aside .filter-box__span {
    padding: 0.1rem 0.2rem;
  }


  .no-show__aside {
    display: flex;
    position: absolute;
    z-index: 20;
    top: 4rem;
    height: 100%;   
  }

  .mobile-menu__btn {
    display: block;
  }
}
