.login__title {
  text-align: center;
  padding: 2rem 0;
  font-size: 3rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  background-color: $sample-darken-color;
  color: $sample-secondary-color;
  padding: 2rem;
}

.login__form-label {
  padding: 0.5rem 0;
  text-transform: capitalize;
  font-size: 2.3rem;
}

.login__email-input, .login__passward-input {
  padding: 0.3rem;
  font-size: 1.8rem;
}

.login__form-btn {
  margin: 1rem 0;
  padding: 0.3rem;
  font-size: 1.8rem;
}

.login__new-customer-text {
  text-align: center;
  padding: 1rem 0;
}