// Default theme
@import '@splidejs/splide/css';

.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}

.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  opacity: 0.3;
  &.is-active {
    opacity: 1;
  }
}

.thumbnail img {
  width: 100%;
  height: auto;
}
