$search-btn-width: 8rem;

.search__wrapper {
  grid-row: 1;
  grid-column: 1 / 3;
  margin: 1rem 0;
  padding: 0 2rem;
}

.search__box {
  position: relative;
}

.search__input {
  padding: 1rem;
  font-size: 1.8rem;
  width: calc(100% - $search-btn-width);
  &:focus {
    outline: none;
  }
}

.search__btn {
  background-image: url('../assets/img/search-svgrepo-com.svg');
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: $search-btn-width;
  height: 100%;
  position: absolute;
}

// NO RESULT

.no-res__container {
  padding: 1rem;
}

.no-res__title {
  @include font(2rem, 150%, 600);
}

.no-res__text {
  @include font(1.8rem, 150%, 400);
  span {
    color: $color-input-error;
  }
}