// LINKS

.user-icon_item {
  display: inline-flex;
  flex-shrink: 1;
  align-items: center;
  padding: 0.2rem;
  font-size: 1.5rem;
  gap: 0.5rem;
  height: 100%;
  color: $color-primary-text;
  user-select: none;

  transition: all 0.5s ease;

  .item_text {
    display: inline-block;
    font-size: 0.7em;
  }

  img {
    display: inline-block;
    width: 30%;

    transition: all 0.5s ease;
  }

  @media screen and (max-width: $tablet) {
    justify-content: center;
    .item_text {
      display: none;
    }
    img {
      width: 35%;
    }
  }

  @media screen and (max-width: 500px) {
    img {
      width: 70%;
    }
  }
}

.user-icon_item:hover {
  color: $color-hover-link;
  filter: opacity(0.8) brightness(0.4);
}

.user-icon_item:hover > img {
  filter: opacity(0.6) brightness(0.4);
}

.user-icon_item.active {
  background-color: $color-active-link;
  border-radius: 0.5rem;
  pointer-events: none;
  color: $color-active-text;
  .item_img {
    filter: invert(1);
  }
}

// WRAPPER

.header__user-icons {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
  max-width: 30%;
  z-index: 40;
  @media screen and (max-width: 1200px) {
    max-width: 25%;
  }

  @media screen and (max-width: $tablet) {
    max-width: 35%;
    justify-content: space-around;
    margin-left: 8rem;
  }
}

// delete after cross-check

section > .user-icon_item {
  max-width: 10%;
}

// CART SPAN PRODUCT QUANTITY

.user-icon_item {
  position: relative;
}

.cart-span {
  position: absolute;
  left: -1rem;
  top: -0.5rem;
  background-color: #f3923ed5;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
  @include font(1.2rem, 100%, 500);
  @include media-tablet {
    left: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .cart-span { 
    left: 0;
  }
}