.header__menu_btn {
  position: sticky;
  z-index: 100;
  display: none;
  cursor: pointer;

  transition: transform 0.3s ease-in-out;
  .btn_bar {
    display: block;
    height: 2px;
    width: 1.8em;
    margin-bottom: 0.5em;
    background-color: $sample-primary-color;

    transition: all 0.3s ease-in-out;
  }

  .btn_bar:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: $tablet) {
    display: block;
  }
}

.header__menu_btn.clicked {
  .btn_bar:first-child {
    transform: translateY(7px) rotate(45deg);
  }

  .btn_bar:nth-child(2) {
    width: 0;
  }

  .btn_bar:last-child {
    transform-origin: left;
    transform: translate(3px, -3px) rotate(-45deg) ;
  }
}