.user-icon_item {
  display: inline-flex;
  flex-shrink: 1;
  align-items: center;
  padding: 0.2rem;
  font-size: 1.5rem;
  gap: 0.5rem;
  height: 100%;
  color: $sample-primary-color;
  user-select: none;

  transition: all 0.5s ease;

  .item_text {
    display: inline-block;
    font-size: 0.7em;
  }

  img {
    display: inline-block;
    width: 30%;

    transition: all 0.5s ease;
  }

  @media screen and (max-width: $tablet) {
    justify-content: center;
    .item_text {
      display: none;
    }
    img {
      width: 35%;
    }
  }

  @media screen and (max-width: 500px) {
    img {
      width: 70%;
    }
  }
}

.user-icon_item:hover {
  color: $sample-secondary-color;
  filter: opacity(0.8) brightness(0.4);

}

.user-icon_item:hover > img {
  filter: opacity(0.6) brightness(0.4);
}

.user-icon_item.active {
  filter: opacity(0.6) brightness(0.4);
  background-color: $sample-secondary-color;
  border-radius: 5px;
  pointer-events: none;
}