@import './user-icons-link.scss';

.header__user-icons {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 15%;
  z-index: 80;
  @media screen and (max-width: 1200px) {
    max-width: 25%;
  }

  @media screen and (max-width: $tablet) {
    max-width: 35%;
    justify-content: space-around;
  }
}