.about-us {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.about-us__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us__heading_title {

}
.about-us__persons {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.about-us__person {

}
.about-us__person_img {

}
.about-us__person_name {

}
.about-us__person_role {

}
.about-us__person_contribution-items {

}
.about-us__person_contribution-item {

}
.about-us__person_bio {

}

.about-us__rs-wrapper_title {

}
.about-us__person_link {

}