.about-us {
  display: flex;
  max-width: 120rem;
  align-items: center;
  justify-content: space-around;
  margin: 5rem auto;
  flex-direction: column;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.about-us__wrapper {
  display: flex;
  padding: 1rem;
  column-gap: 1rem;
  font-weight: 500;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.189);
  background-color: $color-button-text;
  @media screen and (max-width: 1000px) {
    text-align: center;
    margin-top: 1rem;
    flex-direction: column;
    max-width: 90%;
    justify-content: stretch;
  }
}

.about-us__persons-wrapper {
  display: flex;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
}

.about-us__heading_title {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.about-us__person_contribution-item-title {
  padding-bottom: 1rem;
}
.about-us__persons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__person_top {
  min-height: 7rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
}

.about-us__person_role-wrapper {
  display: flex;
  font-weight: 600;
  flex-direction: column;
  align-items: flex-start;
}

.about-us__person {
  padding: 2rem;
  display: grid;
  align-items: stretch;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.381);
  background-color: $color-active-text;
  max-width: 30%;
  @media screen and (max-width: 1000px) {
    max-width: 90%;
  }
}

.about-us__person > * {
  padding: 0.5rem;
}
.about-us__person_img {
  display: block;
  width: 15rem;
  height: 15rem;
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  
  &.dev0-img {
    background: url('../assets/img/dev0.png');
    background-size: 110%;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
  &.dev1-img {
    background: url('../assets/img/dev1.png');
    background-size: 110%;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
  &.dev2-img {
    background: url('../assets/img/dev2.png');
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.about-us__person_name {
}

.about-us__person_role {
  font-weight: 500;
}

.about-us__person_contribution-items {
  min-height: 10rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
  border-top: 1px solid rgba(0, 0, 0, 0.164);
}

.about-us__person_contribution-item {
  text-align: start;
  font-weight: 400;
  &::before {
    content: '- ';
  }
}

.about-us__person_bio {
  padding: 2rem;
  color: rgba(0, 0, 0, 0.877);
  text-align: justify;
  font-style: italic;
  font-weight: 400;
}

.about-us__rs-wrapper_title {
  row-gap: 2rem;
}
.about-us__person_link {
  align-self: center;
  display: inline-block;
  justify-self: center;
  background: no-repeat url('../assets/img/github-mark.svg');
  background-size: 100%;
  background-position: 0 0;
  width: 4rem;
  height: 4rem;
}

.footer__wrapper_logo {
  @media screen and (max-width: $tablet) {
    width: 8rem;
    height: 4rem;
  }
}

.team-work__wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  column-gap: 1rem;
  font-weight: 500;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.189);
  background-color: #fff;
  margin: 2rem;
}

.team-work__heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
  margin: 2rem 0;
  padding-bottom: 2rem;
}

.team-work__text {
  max-width: 57rem;
  margin-bottom: 3rem;
}
.team-work__list {
  max-width: 57rem;
  font-weight: normal;
}
.team-work__list-item {
  margin-bottom: 1rem;
}
