.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #fbfaf8;
}

.cart__wrapper {
  // padding: 1rem;
  width: calc(100% - 25rem);
}

.top__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

.cart__heading {
  margin: 3rem 2rem;
}

.clear-cart__btn {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: $border-radius3;
}

.clear-cart__btn:hover {
  background-color: $color-borders-lightgrey;
}

.clear-cart__btn__img {
  width: 3rem;
  height: 3rem;
}

.cart-items__wrapper {
  display: flex;
  flex-direction: column;
}

.aside__menu {
  width: 30rem;
  min-height: 95vh;
  background: linear-gradient(27deg, rgb(218, 218, 218) 0%, rgb(221 223 247 / 54%) 100%);
  border-radius: $border-radius3;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.aside__heading {
  text-transform: uppercase;
}

.cart__item {
  display: flex;
  flex-direction: row;
  min-height: 12rem;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-borders-lightgrey;
  background-color: #fff;
  padding: 0 1.5rem;
  // border-bottom: 1px solid $color-borders-lightgrey;
}

.cart-item_counter-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.cart-item_counter-input {
  border: 1px solid $color-borders-grey;
  width: 3rem;
  height: 2rem;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item_counter-btn {
  border-radius: 50%;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item_counter-btn:hover {
  color: rgb(45, 45, 45);
}

.cart-item_counter-btn:active {
  font-size: 3.4rem;
}

.delete-cart-item__btn {
  display: flex;
  column-gap: 0.5rem;
  background-color: transparent;
  color: #2c2b2b;
  padding: 0.5rem;
  border-radius: $border-radius3;
  font-size: 2rem;
}

.delete-cart-item__btn:hover {
  background-color: $color-borders-lightgrey;
}

.delete-cart-item-btn__img {
  width: 4rem;
  height: 4rem;
}
// .delete-profile__btn:disabled {
//   color: #8a8989;
//   background-color: $color-borders-lightgrey;
//   cursor: not-allowed;
// }

.promo-code__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  border-top: 1px solid $color-borders-grey;
  border-bottom: 1px solid $color-borders-grey;
}

.promo-code__text {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.promo-code__input {
  outline: none;
  width: 100%;
  padding: 2px 1rem;
  font-size: 2rem;
  height: 5.2rem;
  border-radius: 2px;
  caret-color: darkslategray;
  border: 0.5px solid rgba(128, 128, 128, 0.604);
  margin: 3px 0;
}

.promo-code__btn {
  font-weight: bold;
  border-radius: 3px;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  border: 1px solid #545454;
}

.promo-code__btn:hover {
  background-color: #dddff7;
}

.total-cost__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.subtotal__wrapper,
.discount__wrapper,
.total__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 2rem;
}

.total__wrapper {
  border-top: 1px solid black;
  padding-top: 1.5rem;
}

.total-cost__text,
.total-cost__number {
  font-weight: bold;
  font-size: 2rem;
}
