.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #fbfaf8;
}

.cart__wrapper {
  // padding: 1rem;
  width: calc(100% - 25rem);
}

.top__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

.cart__heading {
  margin: 3rem 2rem;
}

.clear-cart__btn {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: $border-radius3;
}

.clear-cart__btn:hover {
  background-color: $color-borders-lightgrey;
}

.clear-cart__btn:disabled {
  display: none;
}

.clear-cart__btn__img {
  width: 3rem;
  height: 3rem;
}

.cart-items__wrapper,
.cart-items__inner-wrapper {
  display: flex;
  flex-direction: column;
}

.aside__menu {
  width: 30rem;
  min-height: 95vh;
  background: linear-gradient(27deg, rgb(218, 218, 218) 0%, rgb(221 223 247 / 54%) 100%);
  border-radius: $border-radius3;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.aside__heading {
  text-transform: uppercase;
}

.cart__item {
  display: flex;
  flex-direction: row;
  height: 12rem;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-borders-lightgrey;
  background-color: #fff;
  padding: 0 1.5rem;
  // border-bottom: 1px solid $color-borders-lightgrey;
}

.cart-item__title {
  max-width: 20rem;
  text-align: center;
}

.cart-item__price {
  font-size: 2.1rem;
}

.cart-item__image {
  height: 100%;
}

.cart-item__counter-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  position: relative;
}

.cart-item__counter-input {
  font-size: 18px;
  height: 4rem;
  padding: 0 4rem;
  border-radius: 2rem;
  border: 0;
  color: #222;
  box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-weight: lighter;
  outline: none;
}

.cart-item__counter-input:focus {
  border: 0.5px solid $color-borders-grey;
}

.cart-item__counter-input:disabled {
  cursor: not-allowed;
  border: 0.5px solid $color-borders-grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item__counter-btn {
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  top: 0.6rem;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background: #f4f4f4
    url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iNTAiPjxwYXRoIGQ9Ik0xNyAyNWgxNk02NyAyNWgxNk03NSAxN3YxNiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJyZ2IoNTksNjksNjYpIiBzdHJva2Utd2lkdGg9IjEuNXB4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+PC9zdmc+)
    no-repeat 0 0;
  background-size: 5.6rem 2.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 1.4rem;
  cursor: pointer;
  transition: opacity 0.15s;
  opacity: 0.5;
}

.minus-btn {
  left: 0.6rem;
}

.plus-btn {
  right: 0.6rem;
  background-position-x: -2.8rem;
}

.cart-item__counter-btn:hover:not(:disabled) {
  color: rgb(0, 0, 0);
  opacity: 1;
}

.cart-item__counter-btn:focus {
  outline: none;
}

.cart-item__counter-btn:active:not(:disabled) {
  background-position-y: 1px;
  box-shadow: inset 0 2px 12px -4px #c5d1d9;
}

.cart-item__counter-btn:hover:disabled {
  color: rgb(113, 113, 113);
  cursor: not-allowed;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-cart-item__btn,
.edit-item__btn,
.update-cart-item__btn {
  display: flex;
  column-gap: 0.5rem;
  background-color: transparent;
  color: #2c2b2b;
  padding: 0.5rem;
  border-radius: $border-radius3;
  font-size: 2rem;
}

.delete-cart-item__btn:hover,
.edit-item__btn:hover,
.update-cart-item__btn:hover {
  background-color: $color-borders-lightgrey;
}

.update-cart-item__btn:disabled {
  background-color: $color-borders-lightgrey;
  cursor: not-allowed;
  color: #616161;
}

.edit-item__img,
.delete-cart-item-btn__img {
  width: 3rem;
  height: 3rem;
}

.edit-item__btn {
  min-width: 11.1rem;
  justify-content: center;
}

.delete-cart-item-btn__img {
  width: 3rem;
  height: 3rem;
}

// .delete-profile__btn:disabled {
//   color: #8a8989;
//   background-color: $color-borders-lightgrey;
//   cursor: not-allowed;
// }

.promo-code__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  border-top: 1px solid $color-borders-grey;
  border-bottom: 1px solid $color-borders-grey;
}

.promo-code__text {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.promo-code__input {
  outline: none;
  width: 100%;
  padding: 2px 1rem;
  font-size: 2rem;
  height: 5.2rem;
  border-radius: 2px;
  caret-color: darkslategray;
  border: 0.5px solid rgba(128, 128, 128, 0.604);
  margin: 3px 0;
}

.promo-code__btn {
  font-weight: bold;
  border-radius: 3px;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  border: 1px solid #545454;
}

.promo-code__btn:hover {
  background-color: #dddff7;
}

.total-cost__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.subtotal__wrapper,
.discount__wrapper,
.total__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 2rem;
}

.total__wrapper {
  border-top: 1px solid black;
  padding-top: 1.5rem;
}

.total-cost__text,
.total-cost__number {
  font-weight: bold;
  font-size: 2rem;
}

.empty-cart__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
}

.empty-cart__heading {
  text-transform: uppercase;
  font-size: calc(1vw + 13px);
  text-align: center;
}

.empty-cart__text {
  max-width: 26rem;
  text-align: center;
  font-size: 2rem;
}

.empty-cart__img {
  width: 35%;
  max-width: 30rem;
}

.empty-cart__btn {
  font-weight: bold;
  border-radius: 3px;
  width: 25rem;
  padding: 1.5rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  background-color: #e5edf7;
  text-transform: uppercase;
  color: #2e2e2e;
}

.empty-cart__btn:hover {
  background-color: #deeaf8;
}

.no-show {
  display: none;
}
