.catalog__wrapper {
  display: grid;
  justify-content: center;
  max-width: 120rem;
  margin: 0 auto;
  grid-template-areas: 'catalog-aside cards'
                        'catalog-aside cards'
                        'footer footer';
  grid-template-columns: 30rem  fit-content(90rem);
  position: relative;
}

@media screen and (max-width: $tablet) {
  .catalog__wrapper {
    display: flex;
    flex-direction: column;
  .catalog__bc-nav {
    order: -1;
    }
  }
}


