.catalog__wrapper {
  display: grid;
  grid-template-areas: 'bc bc bc'
                        'catalog-aside cards cards'
                        'footer footer footer';
  grid-template-columns: 0.6fr 4fr auto;
  position: relative;
}

@media screen and (max-width: $tablet) {
  .catalog__wrapper {
    display: flex;
    flex-direction: column;
  .catalog__bc-nav {
    order: -1;
    }
  }
}