.product__wrapper {
  max-width: 100rem;
  padding: 0;
}

.product__display {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  // background-color: #f4c79f;
  // padding: 1rem;
  border-radius: 1rem;
  @include media-tablet {
    grid-template-columns: 1fr 1fr;
  }
}

.product__photo-side, .product__info-side {
  background-color: #f4c79fc6;
}

// PHOTO SIDE

.product__photo-side {
  grid-row: 1;
  grid-column: 1 / 2;
  display: grid;
  padding: 1rem;
  border-radius: 1.5rem 0 0 0rem;
  @include media-mobile-L {
    grid-column: 1 / 3;
    border-radius: 1.5rem 1.5rem 0 0rem;
  }
  .splide {
    grid-row: 1;
    grid-column: 2 / 3;
    align-content: center;
    display: grid;
    cursor: pointer;
    @include media-laptop {
      grid-row: 1;
      grid-column: 1 / 3;
    }
  }
  .thumbnails {
    grid-row: 1;
    grid-column: 1 / 2;
    flex-direction: column;
    margin: 0 auto 0;
    justify-content: start;
    margin: 0 0.5rem 0 0;
    @include media-laptop {
      grid-row: 2;
      grid-column: 1 / 3;
      flex-direction: row;
      justify-content: start;
      margin: 1rem 0 0 0;
    }
  }
  .thumbnail {
    margin: 0 0 0.5rem 0;
    @include media-laptop {
      margin: 0 0.5rem 0 0;
    }
  }
  .splide__arrows {
    display: none;
  }
}

.product__img {
  width: 100%;
  height: auto;
}

.product__no-image {
  width: 100%;
}

// INFO SIDE

.product__info-side {
  // margin: 0 0 0 2rem;
  // background-color: #f4c79f;
  // border-radius: 1rem;
  border-radius: 0 1.5rem 0rem 0;
  padding: 1rem;
  grid-row: 1;
  grid-column: 2 / 3;
  @include media-mobile-L {
    grid-row: 2;
    grid-column: 1 / 3;
    border-radius: 0;
    // margin: 1rem 0;
  }
}

.product__title {
  @include font(2.8rem, 150%, 800);
  margin-bottom: 1rem;
}

.product__info-list {
  padding: 1rem 0;
  color: #604747;
  @include font(1.8rem, 100%, 500);
}

.product__info-label {
  padding-right: 0.5rem;
  @include font(1.8rem, 100%, 700);
}

.product__info-item {
  list-style: none;
  display: flex;
  padding: 0.4rem 0;
}

// PRICE SECTION / ASIDE

.product__aside {
  background-color: #e489a1b4;
  padding: 1rem;
  border-radius: 1.3rem;
  color: #fff;
  margin-right: 1rem;
  position: relative;
  @include media-tablet {
    grid-row: 2;
    grid-column: 1 / 3;
    margin-right: 0;
  }
  @include media-mobile-L {
    grid-row: 3;
    grid-column: 1 / 2;
  }
}

.product__price-box {
  display: block;
}

.product__price {
  &_current {
    padding: 0.3rem;
    width: 100%;
    &._discounted-price {
      color: #c20000;
      @include font(3rem, 100%, 500);
    }
  }
  &_prev {
    display: flex;
    font-size: 1.6rem;
  }
  &_prev-text {
    text-decoration: line-through;
  }
}

.product__discount-text {
  padding-left: 0.3rem;
}

.product__discount-info {
  background-color: $color-login-link-text;
  animation: saleAnimatedBgColor 2s infinite linear;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  &-title {
    @include font(2rem, 120%, 600);
  }
}

.product__avail {
  display: flex;
}

.product__avail {
  &-label {
    padding-right: 0.3rem;
    text-transform: capitalize;
    @include font(1.8rem, 100%, 500);
  }
  &-text {
    @include font(1.8rem, 100%, 500);
  }
}

.product__add-to-cart-btn {
  @include font(1.3rem, 100%, 500);
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
}

// ADDITIONAL SIDE

.product__additional {
  grid-row: 2;
  grid-column: 1 / 4;
  background-color: #f4c79f81;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 2rem;
  color: #39312b;
  @include media-tablet {
    grid-row: 3;
    grid-column: 1 / 3;
  }
  @include media-mobile-L {
    grid-row: 4;
    grid-column: 1 / 3;
  }
}

.product__additional-title {
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
}

.product__desription {
  margin-bottom: 0.5rem;
}

.product__track-list-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.product__track-list-item {
  list-style: none;
}