.product__display {
  display: grid;
}

// PHOTO SIDE

.product__photo-side {
  grid-row: 1;
  grid-column: 1 / 2;
}

.product__img {
  width: 10rem;
  height: 10rem;
}

// INFO SIDE

.product__info-side {
  margin: 0 0 0 2rem;
  grid-row: 1;
  grid-column: 2 / 3;
}

.product__info-label {
  padding-right: 0.5rem;
}

.product__info-item {
  list-style: none;
  display: flex;
}

// ASIDE

.product__aside {
  background-color: $color-login-background;
  padding: 1rem;
  border-radius: 1.3rem;
  color: #fff;
  margin: 0 1rem;
  grid-row: 1;
  grid-column: 3 / 4;
}

.product__price-box {
  display: block;
}

.product__price {
  &_current {
    padding: 0.3rem;
    width: 100%;
    &._discounted-price {
      color: #c20000;
      @include font(1.8rem, 100%, 500);
      
    }
  }
  &_prev {
    display: flex;
    font-size: 1.2rem;
  }
  &_prev-text {
    text-decoration: line-through;
  }
}

.product__discount-text {
  padding-left: 0.3rem;
}

.product__discount-info {
  background-color: $color-login-link-text;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.product__avail {
  display: flex;
}

.product__avail {
  &-label {
    padding-right: 0.3rem;
    text-transform: capitalize;
  }
}

.product__add-to-cart-btn {
  @include font(1.3rem, 100%, 500);
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
}

// ADDITIONAL SIDE

.product__additional {
  grid-row: 2;
  grid-column: 1 / 4;
}

.product__track-list-item {
  list-style: none;
}