header {
  background-color: $sample-darken-color;
  white-space: nowrap;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__wrapper_logo {
  display: block;
  height: 3rem;
  width: 3rem;
  background: no-repeat url('../assets/img/icons8-cheburashka-48.svg');
  background-size: 100%;
}

