header {
  background-color: $color-body-background;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 150;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.header__wrapper_logo {
  display: block;
  height: 3rem;
  width: 3rem;
  background: no-repeat url('../assets/img/logo.svg');
  background-size: 100% 100%;
  background-position: 0 0%;
  @extend %font-add-Oswald;
  @include font(2rem, 150%, 700);
  text-transform: uppercase;
  padding-left: 4rem;
}

