@import './auth-link.scss';

.header__auth {
  display: flex;
  justify-content: center;

  width: 15%;

  @media screen and (max-width: 1200px) {
    width: 20%;
  }
  @media screen and (max-width: 800px) {
    width: 25%;
    justify-content: space-between;
    .item_text {
      display: none;
    }
  }
}